body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}
hr{
    width: 500px;
}
#error{
    color: coral;
    font-size: 20px;
}
#board{
    width: 450px;
    height: 450px;
    background-color: yellow;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.title{
    width: 48px;
    height: 48px;
    border: 1px solid lightslategray;
    /* text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
#digits{
    width: 450px;
    height: 50px;
    background-color: yellow;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.number{
    width: 48px;
    height: 48px;
    border: 1px solid lightslategray;
    /* text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}