body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}
hr{
    width: 500px;
}
#errors{
    color: coral;
    font-size: 20px;
}
#board{
    width: 450px;
    height: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.tile{
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;
    /* text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
#digits{
    width: 450px;
    height: 50px;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.number{
    width: 44px;
    height: 48px;
    border: 1px solid rgb(90, 100, 110);
    margin: 2px;
    /* text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.number-selected{
    background-color: lightblue;
}
.tile-start {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}